altgraph==0.17.5
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==48.0.0
google-auth==2.52.0
google-auth-oauthlib==1.4.0
gspread==6.2.1
idna==3.13
numpy==2.4.4
oauthlib==3.3.1
packaging==26.2
pandas==3.0.2
pdfminer.six==20251230
pdfplumber==0.11.9
pefile==2024.8.26
pillow==12.2.0
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.5
pypdfium2==5.8.0
python-dateutil==2.9.0.post0
pywin32==311
pywin32-ctypes==0.2.3
requests==2.33.1
requests-oauthlib==2.0.0
setuptools==82.0.1
six==1.17.0
tzdata==2026.2
urllib3==2.7.0
